/** @format */

* {
	margin: 0;
	padding: 0;
}
:global(*) {
	font-family: "Ubuntu", "Arial";
}

a {
	color: #266691;
}
img {
	vertical-align: top;
}

.material-symbols-outlined {
	font-variation-settings:
		"FILL" 0,
		"wght" 400,
		"GRAD" 0,
		"opsz" 48;
}

p {
	white-space: pre-line;
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: "Playfair Display";
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: url("/fonts/PlayfairDisplay.ttf");
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: url("/fonts/Ubuntu.ttf");
}
